<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="font-roboto bg-white text-gray-500 flex flex-col">
  <header>
    <!-- Desktop Header -->
    <div class="w-full fixed flex justify-center">
        <div class="w-11/12 sm:w-10/12 md:w-5/6 lg:w-4/5 xl:w-4/5">
        <div class="w-full bg-white py-3 px-5 flex items-center justify-between hidden md:flex">
            <div>
            <a href="#" class="text-3xl font-bold text-blue-500">IdeaJet</a>
            </div>
            <div>
            <a href="#home" class="mx-2 text-gray-500 hover:text-blue-500">Home</a>
            <a href="#features" class="mx-2 text-gray-500 hover:text-blue-500">Features</a>
            <a href="#pricing" class="mx-2 text-gray-500 hover:text-blue-500">Pricing</a>
            <a href="#faq" class="mx-2 text-gray-500 hover:text-blue-500">FAQ</a>
            <a href="#contact" class="mx-2 text-gray-500 hover:text-blue-500">Contact</a>
            <a href="https://int.app.ideajet.ai" class="mx-2 bg-blue-500 text-white hover:bg-blue-600 px-5 py-1 rounded">App</a>
            </div>
        </div>
        </div>
    </div>
    <!-- Mobile Header -->
    <div class="w-full fixed bg-white py-3 px-5 flex items-center justify-between md:hidden">
      <div>
        <a href="#" class="text-2xl font-bold text-blue-500">IdeaJet</a>
      </div>
      <div>
        <button id="menuBtn" class="text-2xl text-gray-500">🍔</button>
      </div>
    </div>
    <!-- Mobile Sidebar -->
    <div id="sidebar" class="fixed right-0 top-0 h-full w-3/4 md:w-1/4 bg-white text-gray-500 transform translate-x-full overflow-auto transition-transform duration-200 ease-in-out z-50">
        <div class="flex justify-end">
        <button id="closeBtn" class="p-4 text-2xl text-gray-500">X</button>
        </div>
        <div class="px-6">
        <a href="#home" class="block py-2 text-gray-500 hover:text-blue-500 border-b border-gray-200">Home</a>
        <a href="#features" class="block py-2 text-gray-500 hover:text-blue-500 border-b border-gray-200">Features</a>
        <a href="#pricing" class="block py-2 text-gray-500 hover:text-blue-500 border-b border-gray-200">Pricing</a>
        <a href="#faq" class="block py-2 text-gray-500 hover:text-blue-500 border-b border-gray-200">FAQ</a>
        <a href="#contact" class="block py-2 text-gray-500 hover:text-blue-500 border-b border-gray-200">Contact</a>
        <a href="app-link" class="block py-2 bg-blue-500 text-white hover:bg-blue-600 px-3 rounded text-center">App</a>
        </div>
    </div>
  </header>
  <!-- Hero Section -->
    <section class="w-full bg-white py-12 mt-24">
        <div class="w-11/12 sm:w-10/12 md:w-5/6 lg:w-4/5 xl:w-4/5 mx-auto flex flex-col lg:flex-row items-center">
            <!-- Text Section -->
            <div class="lg:w-1/2 mb-10 lg:mb-0 pr-0 lg:pr-12">
                <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold mb-6">
                    <span class="text-custom-color">Generate your next Business with</span>
                    <span class="text-blue-500">IdeaJet</span>
                </h2>
                <p class="text-base sm:text-lg md:text-xl text-gray-500 mb-6">
                    Using AI generate a unique business idea, logo, and execution plan.
                </p>
                <a href="#"
                    class="inline-block bg-blue-500 text-white hover:bg-blue-600 py-3 px-6 rounded-full">
                    Start generating for free
                </a>
            </div>

            <!-- Image Section -->
            <div class="lg:w-1/2 flex items-center">
                <img src="./pj2.jpg" alt="Hero Image" class="mx-auto w-3/4 md:w-full h-64 md:h-auto object-cover rounded-lg shadow-lg">
            </div>
        </div>
    </section>
    <!-- Features Section -->
    <section class="w-full bg-gray-100 py-12 mt-24">
        <div class="w-11/12 sm:w-10/12 md:w-5/6 lg:w-4/5 xl:w-4/5 mx-auto flex flex-col-reverse md:flex-row items-center">

            <!-- Image Section -->
            <div class="md:w-1/2 flex items-center md:mr-12">
                <img src="./merged.gif" alt="Feature Image" class="mx-auto w-3/4 md:w-full h-64 md:h-auto object-cover rounded-lg shadow-lg">
            </div>

            <!-- Text Section -->
            <div class="md:w-1/2 mb-10 md:mb-0 pr-0 md:pr-12">
                <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-blue-500 font-bold mb-6">
                    Generate a unique business
                </h2>
                <p class="text-base sm:text-lg md:text-xl text-gray-500 mb-6">
                    This is where your paragraph text will go. You can use this space to explain a little more about the feature and how it can benefit the user.
                </p>
                <hr class="border-gray-300 border-t mb-6">
                <ul class="text-gray-500 space-y-2">
                    <li class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-blue-500 mr-2">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                        Example Bullet 1
                    </li>
                    <li class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-blue-500 mr-2">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                        Example Bullet 2
                    </li>
                    <li class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-blue-500 mr-2">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                        Example Bullet 3
                    </li>
                    <li class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-blue-500 mr-2">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                        Example Bullet 4
                    </li>
                </ul>
                
            </div>
        </div>
    </section>


  <script>
    const sidebar = document.getElementById('sidebar');
    const menuBtn = document.getElementById('menuBtn');
    const closeBtn = document.getElementById('closeBtn');
  
    menuBtn.addEventListener("click", function() {
      sidebar.classList.remove('translate-x-full');
      sidebar.classList.add('translate-x-0');
    });
  
    closeBtn.addEventListener("click", function() {
      sidebar.classList.remove('translate-x-0');
      sidebar.classList.add('translate-x-full');
    });
  </script>

</body>
</html>
