{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="font-roboto bg-white text-gray-500 flex flex-col">
  <header>
    <!-- Desktop Header -->
    <div class="w-full fixed flex justify-center z-50">
        <div class="w-11/12 sm:w-10/12 md:w-5/6 lg:w-4/5 xl:w-4/5">
        <div class="w-full bg-white py-3 px-5 flex items-center justify-between hidden md:flex">
            <div>
            <a href="#" class="text-3xl font-bold text-blue-500">IdeaJet</a>
            </div>
            <div>
                <a href="#home" class="mx-2 text-gray-500 hover:text-blue-500">Home</a>
                <a href="#features" class="mx-2 text-gray-500 hover:text-blue-500">Features</a>
                <a href="#examples" class="mx-2 text-gray-500 hover:text-blue-500">Examples</a>
                <a href="#pricing" class="mx-2 text-gray-500 hover:text-blue-500">Pricing</a>
                <a href="#faq" class="mx-2 text-gray-500 hover:text-blue-500">FAQ</a>
                <a href="#contact" class="mx-2 text-gray-500 hover:text-blue-500">Contact</a>
                <a href="{{ app_url }}" class="mx-2 bg-blue-500 text-white hover:bg-blue-600 px-5 py-1 rounded">App</a>
            </div>
        </div>
        </div>
    </div>
    <!-- Mobile Header -->
    <div class="w-full fixed bg-white py-3 px-5 flex items-center justify-between md:hidden z-50">
        <div>
          <a href="#" class="text-2xl font-bold text-blue-500">IdeaJet</a>
        </div>
        <div>
          <button id="menuBtn" class="text-2xl text-gray-500">🍔</button>
        </div>
      </div>      
    <!-- Mobile Sidebar -->
    <div id="sidebar" class="fixed right-0 top-0 h-full w-3/4 md:w-1/4 bg-white text-gray-500 transform translate-x-full overflow-auto transition-transform duration-200 ease-in-out z-50">
        <div class="flex justify-end">
        <button id="closeBtn" class="p-4 text-2xl text-gray-500">X</button>
        </div>
        <div class="px-6">
            <a href="#home" class="block py-2 text-gray-500 hover:text-blue-500 border-b border-gray-200">Home</a>
            <a href="#features" class="block py-2 text-gray-500 hover:text-blue-500 border-b border-gray-200">Features</a>
            <a href="#examples" class="block py-2 text-gray-500 hover:text-blue-500 border-b border-gray-200">Examples</a>
            <a href="#pricing" class="block py-2 text-gray-500 hover:text-blue-500 border-b border-gray-200">Pricing</a>
            <a href="#faq" class="block py-2 text-gray-500 hover:text-blue-500 border-b border-gray-200">FAQ</a>
            <a href="#contact" class="block py-2 text-gray-500 hover:text-blue-500 border-b border-gray-200">Contact</a>
            <a href="{{ app_url }}" class="block py-2 bg-blue-500 text-white hover:bg-blue-600 px-3 rounded text-center">App</a>
        </div>
    </div>
  </header>
  <!-- Hero Section -->
    <section class="w-full bg-white py-12 mt-12 sm:mt-24 " id="home">
        <div class="w-11/12 sm:w-10/12 md:w-5/6 lg:w-4/5 xl:w-4/5 mx-auto flex flex-col lg:flex-row items-center">
            <!-- Text Section -->
            <div class="lg:w-1/2 mb-10 lg:mb-0 pr-0 lg:pr-12 text-center sm:text-left">
                <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold mb-6">
                    <span class="text-custom-color">Generate your next Business with</span>
                    <span class="text-blue-500">IdeaJet</span>
                </h2>
                <p class="text-base sm:text-lg md:text-xl text-gray-500 mb-6">
                    Using AI generate a unique business idea, logo, and execution plan.
                </p>
                <a href="{{ app_url }}"
                    class="inline-block bg-blue-500 text-white hover:bg-blue-600 py-3 px-6 rounded-full">
                    Start generating for free
                </a>
            </div>

            <!-- Image Section -->
            <div class="lg:w-1/2 flex items-center">
                <img src="{% static 'hero/pg_edited.jpg' %}" alt="Hero Image" class="mx-auto w-full md:w-3/4 h-64 md:h-auto object-cover rounded-lg shadow-lg">
            </div>
        </div>
    </section>
    <!-- Features Section -->
    <section class="w-full bg-gray-100 py-12 mt-24" id="features">
        <div class="w-11/12 sm:w-10/12 md:w-5/6 lg:w-4/5 xl:w-4/5 mx-auto flex flex-col-reverse md:flex-row items-center">

            <!-- Image Section -->
            <div class="md:w-1/2 flex items-center md:mr-12">
                <img src="{% static 'hero/merged.gif' %}" alt="Feature Image" class="mx-auto w-3/4 md:w-full h-64 md:h-auto object-cover rounded-lg shadow-lg">
            </div>

            <!-- Text Section -->
            <div class="md:w-1/2 mb-10 md:mb-0 pr-0 md:pr-12">
                <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-blue-500 font-bold mb-6">
                    Generate a unique business
                </h2>
                <p class="text-base sm:text-lg md:text-xl text-gray-500 mb-6">
                    This is where your paragraph text will go. You can use this space to explain a little more about the feature and how it can benefit the user.
                </p>
                <hr class="border-gray-300 border-t mb-6">
                <ul class="text-gray-500 space-y-2">
                    <li class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-blue-500 mr-2">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                        Generate a random business, or with a category and type, or even use your own idea
                    </li>
                    <li class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-blue-500 mr-2">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                        Generate a set of logos and pick one
                    </li>
                    <li class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-blue-500 mr-2">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                        Generate a business execution plan
                    </li>
                    <li class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-blue-500 mr-2">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                        Chat with ai to get insights about your business, the competition, and help you make informed descisions
                    </li>
                </ul>
                
            </div>
        </div>
    </section>
    <!-- Examples Section -->
    <section class="w-full bg-white py-12" id="examples">
        <div class="w-11/12 sm:w-10/12 md:w-5/6 lg:w-4/5 xl:w-4/5 mx-auto flex flex-col items-center">
            <!-- Title -->
            <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-blue-500 font-bold mb-6">
                Examples:
            </h2>
            <!-- Card Grid -->
            <div class="flex flex-wrap justify-center gap-6">
                <div class="w-full sm:w-1/2 lg:w-1/4 mb-6 lg:mb-0">
                    <div class="card bg-white border-gray-200 rounded-lg shadow-lg transform transition duration-500 ease-in-out hover:scale-105 cursor-pointer">
                        <img src="{% static 'examples_businesses/Hyperspace Solutions.png' %}" alt="Example Image" class="w-full object-cover rounded-t-lg" style="height: 150px;">
                        <div class="p-4">
                            <h3 class="text-lg font-bold text-blue-500 mb-2">Business Name</h3>
                            <div class="hidden content">
                                <ul class="list-disc list-inside text-gray-500">
                                    <li>Example Bullet 1</li>
                                    <li>Example Bullet 2</li>
                                    <li>Example Bullet 3</li>
                                    <li>Example Bullet 4</li>
                                </ul>
                            </div>
                            <button class="mt-2 w-full bg-blue-500 text-white hover:bg-blue-600 py-2 rounded">Expand</button>
                        </div>
                    </div>
                </div>
                <div class="w-full sm:w-1/2 lg:w-1/4 mb-6 lg:mb-0">
                    <div class="card bg-white border-gray-200 rounded-lg shadow-lg transform transition duration-500 ease-in-out hover:scale-105 cursor-pointer">
                        <img src="{% static 'examples_businesses/Green Realty Solutions.png' %}" alt="Example Image" class="w-full object-cover rounded-t-lg" style="height: 150px;">
                        <div class="p-4">
                            <h3 class="text-lg font-bold text-blue-500 mb-2">Business Name</h3>
                            <div class="hidden content">
                                <ul class="list-disc list-inside text-gray-500">
                                    <li>Example Bullet 1</li>
                                    <li>Example Bullet 2</li>
                                    <li>Example Bullet 3</li>
                                    <li>Example Bullet 4</li>
                                </ul>
                            </div>
                            <button class="mt-2 w-full bg-blue-500 text-white hover:bg-blue-600 py-2 rounded">Expand</button>
                        </div>
                    </div>
                </div>
                <div class="w-full sm:w-1/2 lg:w-1/4 mb-6 lg:mb-0">
                    <div class="card bg-white border-gray-200 rounded-lg shadow-lg transform transition duration-500 ease-in-out hover:scale-105 cursor-pointer">
                        <img src="{% static 'examples_businesses/LifeZen.png' %}" alt="Example Image" class="w-full object-cover rounded-t-lg" style="height: 150px;">
                        <div class="p-4">
                            <h3 class="text-lg font-bold text-blue-500 mb-2">Business Name</h3>
                            <div class="hidden content">
                                <ul class="list-disc list-inside text-gray-500">
                                    <li>Example Bullet 1</li>
                                    <li>Example Bullet 2</li>
                                    <li>Example Bullet 3</li>
                                    <li>Example Bullet 4</li>
                                </ul>
                            </div>
                            <button class="mt-2 w-full bg-blue-500 text-white hover:bg-blue-600 py-2 rounded">Expand</button>
                        </div>
                    </div>
                </div>
                <div class="w-full sm:w-1/2 lg:w-1/4 mb-6 lg:mb-0">
                    <div class="card bg-white border-gray-200 rounded-lg shadow-lg transform transition duration-500 ease-in-out hover:scale-105 cursor-pointer">
                        <img src="{% static 'examples_businesses/RevelNation.png' %}" alt="Example Image" class="w-full object-cover rounded-t-lg" style="height: 150px;">
                        <div class="p-4">
                            <h3 class="text-lg font-bold text-blue-500 mb-2">Business Name</h3>
                            <div class="hidden content">
                                <ul class="list-disc list-inside text-gray-500">
                                    <li>Example Bullet 1</li>
                                    <li>Example Bullet 2</li>
                                    <li>Example Bullet 3</li>
                                    <li>Example Bullet 4</li>
                                </ul>
                            </div>
                            <button class="mt-2 w-full bg-blue-500 text-white hover:bg-blue-600 py-2 rounded">Expand</button>
                        </div>
                    </div>
                </div>
                <div class="w-full sm:w-1/2 lg:w-1/4 mb-6 lg:mb-0">
                    <div class="card bg-white border-gray-200 rounded-lg shadow-lg transform transition duration-500 ease-in-out hover:scale-105 cursor-pointer">
                        <img src="{% static 'examples_businesses/PharmHelp.png' %}" alt="Example Image" class="w-full object-cover rounded-t-lg" style="height: 150px;">
                        <div class="p-4">
                            <h3 class="text-lg font-bold text-blue-500 mb-2">Business Name</h3>
                            <div class="hidden content">
                                <ul class="list-disc list-inside text-gray-500">
                                    <li>Example Bullet 1</li>
                                    <li>Example Bullet 2</li>
                                    <li>Example Bullet 3</li>
                                    <li>Example Bullet 4</li>
                                </ul>
                            </div>
                            <button class="mt-2 w-full bg-blue-500 text-white hover:bg-blue-600 py-2 rounded">Expand</button>
                        </div>
                    </div>
                </div>
                <div class="w-full sm:w-1/2 lg:w-1/4 mb-6 lg:mb-0">
                    <div class="card bg-white border-gray-200 rounded-lg shadow-lg transform transition duration-500 ease-in-out hover:scale-105 cursor-pointer">
                        <img src="{% static 'examples_businesses/Nimble Talk.png' %}" alt="Example Image" class="w-full object-cover rounded-t-lg" style="height: 150px;">
                        <div class="p-4">
                            <h3 class="text-lg font-bold text-blue-500 mb-2">Business Name</h3>
                            <div class="hidden content">
                                <ul class="list-disc list-inside text-gray-500">
                                    <li>Example Bullet 1</li>
                                    <li>Example Bullet 2</li>
                                    <li>Example Bullet 3</li>
                                    <li>Example Bullet 4</li>
                                </ul>
                            </div>
                            <button class="mt-2 w-full bg-blue-500 text-white hover:bg-blue-600 py-2 rounded">Expand</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
    </section>
    <!-- Pricing Section -->
    <section class="pricing py-12 bg-gray-100" id="pricing">
        <div class="container mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center pb-10">
            <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">Pricing</h2>
            <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                Affordable packages for every business
            </p>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
            <!-- Free -->
            <div class="bg-white border-gray-200 rounded-lg shadow-lg transform transition duration-500 ease-in-out hover:scale-105 cursor-pointer">
                <div class="h-4 rounded-t-lg bg-blue-500"></div>
                <div class="p-6">
                <h3 class="text-lg font-bold text-blue-500 mb-2">Experimenter</h3>
                <h2 class="text-3xl font-bold text-gray-900 mb-4">$0</h2>
                <ul class="list-disc list-inside text-gray-500">
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                </ul>
                </div>
            </div>
        
            <!-- Solo Founder -->
            <div class="bg-white border-gray-200 rounded-lg shadow-lg transform transition duration-500 ease-in-out hover:scale-105 cursor-pointer">
                <div class="h-4 rounded-t-lg bg-green-500"></div>
                <div class="p-6">
                <h3 class="text-lg font-bold text-blue-500 mb-2">Solo Founder</h3>
                <h2 class="text-3xl font-bold text-gray-900 mb-4">$9</h2>
                <ul class="list-disc list-inside text-gray-500">
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                    <li>Feature 4</li>
                </ul>
                </div>
            </div>
        
            <!-- Startup -->
            <div class="bg-white border-gray-200 rounded-lg shadow-lg transform transition duration-500 ease-in-out hover:scale-105 cursor-pointer">
                <div class="h-4 rounded-t-lg bg-purple-500"></div>
                <div class="p-6">
                <h3 class="text-lg font-bold text-blue-500 mb-2">Startup</h3>
                <h2 class="text-3xl font-bold text-gray-900 mb-4">$29</h2>
                <ul class="list-disc list-inside text-gray-500">
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                    <li>Feature 4</li>
                    <li>Feature 5</li>
                </ul>
                </div>
            </div>
        
            <!-- Enterprise -->
            <div class="bg-white border-gray-200 rounded-lg shadow-lg transform transition duration-500 ease-in-out hover:scale-105 cursor-pointer">
                <div class="h-4 rounded-t-lg bg-yellow-500"></div>
                <div class="p-6">
                    <h3 class="text-lg font-bold text-blue-500 mb-2">Enterprise</h3>
                    <h2 class="text-3xl font-bold text-gray-900 mb-4">Contact us</h2>
                    <ul class="list-disc list-inside text-gray-500">
                        <li>Feature 1</li>
                        <li>Feature 2</li>
                        <li>Feature 3</li>
                        <li>Feature 4</li>
                        <li>Feature 5</li>
                        <li>Feature 6</li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        </section>
    
    
    <!-- FAQ SECTION -->
    <section class="faq py-12 bg-white mt-24" id="faq">
        <div class="container mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center pb-10">
            <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">FAQs</h2>
            <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                Frequently Asked Questions
            </p>
            </div>
        
            <div class="divide-y divide-gray-200">
            <div class="py-4">
                <button class="w-full text-left text-lg font-semibold flex justify-between items-center">
                <span>Who owns my business idea? Can you steal this idea?</span>
                <span class="icon-arrow">🔽</span>
                </button>
                <div class="answer hidden mt-2 text-gray-500">
                    No you own full rights to your business idea. Described in the intelectual property section of our terms and conditions, all Intelectual Property generated by a paying user is their property.
                </div>
            </div>

            <div class="py-4">
                <button class="w-full text-left text-lg font-semibold flex justify-between items-center">
                <span>Are all business ideas unique?</span>
                <span class="icon-arrow">🔽</span>
                </button>
                <div class="answer hidden mt-2 text-gray-500">
                    Yes all ideas are unique! Our algorithms ensure that you are receiving a completely unique business idea. 
                </div>
            </div>
        
            <div class="py-4">
                <button class="w-full text-left text-lg font-semibold flex justify-between items-center">
                <span>What if I want to share this idea with a friend?</span>
                <span class="icon-arrow">🔽</span>
                </button>
                <div class="answer hidden mt-2 text-gray-500">
                You can! You can add a user to view and see the business idea so you can both collaborate together.
                </div>
            </div>
        
            <!-- Repeat for remaining questions -->
        
            </div>
        </div>
        </section>

        <section class="contact py-12 bg-blue-500 text-white">
            <div class="container mx-auto px-4 sm:px-6 lg:px-8 text-center">
                <h2 class="text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl">Contact Us</h2>
                <p class="mt-4 max-w-2xl text-xl mx-auto lg:mx-0">Have any questions or want to work together? Feel free to drop us a message!</p>
        
                <form class="mt-8 space-y-6" action="#" method="POST">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div>
                            <label for="name" class="sr-only">Your Name</label>
                            <input id="name" name="name" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Your Name">
                        </div>
                        <div>
                            <label for="email" class="sr-only">Your Email</label>
                            <input id="email" name="email" type="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Your Email">
                        </div>
                    </div>
                    <div>
                        <label for="message" class="sr-only">Your Message</label>
                        <textarea id="message" name="message" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Your Message"></textarea>
                    </div>
                    <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Send Message</button>
                </form>
            </div>
        </section>

        <footer class="bg-blue-800 text-white py-8" id="contact">
            <div class="container mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between items-center">
                    <div>
                        <h3 class="text-2xl font-bold">IdeaJet</h3>
                        <p class="mt-2">Empowering your business ideas.</p>
                    </div>
                </div>
                <div class="mt-8 text-center">
                    <p>© 2023 IdeaJet. All rights reserved.</p>
                </div>
            </div>
        </footer>
        


  <script>
    const sidebar = document.getElementById('sidebar');
    const menuBtn = document.getElementById('menuBtn');
    const closeBtn = document.getElementById('closeBtn');
  
    menuBtn.addEventListener("click", function() {
      sidebar.classList.remove('translate-x-full');
      sidebar.classList.add('translate-x-0');
    });
  
    closeBtn.addEventListener("click", function() {
      sidebar.classList.remove('translate-x-0');
      sidebar.classList.add('translate-x-full');
    });

    document.addEventListener('DOMContentLoaded', function() {
    const anchorLinks = document.querySelectorAll('a[href^="#"]');

    anchorLinks.forEach(function(link) {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        
        const targetId = this.getAttribute('href');
        const targetElement = document.querySelector(targetId);
        
        targetElement.scrollIntoView({
          behavior: 'smooth'
        });
      });
    });
  });

    document.querySelectorAll('.card').forEach(card => {
        card.querySelector('button').addEventListener('click', () => {
            card.querySelector('.content').classList.toggle('hidden');
            card.querySelector('button').textContent = card.querySelector('.content').classList.contains('hidden') ? 'Expand' : 'Collapse';
        });
    });

    document.querySelectorAll('.faq button').forEach(button => {
    button.addEventListener('click', e => {
        // Toggle visibility of the associated answer
        const answer = button.nextElementSibling;
        answer.classList.toggle('hidden');

        // Change arrow direction
        const arrow = button.querySelector('.icon-arrow');
        if (answer.classList.contains('hidden')) {
            arrow.textContent = '🔽';  // Arrow down
        } else {
            arrow.textContent = '🔼';  // Arrow up
        }
    });
});
  </script>

</body>
</html>
